@import "tailwindcss";
/* @import "tailwindcss/preflight"; */

@tailwind utilities;

@layer components{
  .title{
    @apply text-7xl font-bold underline
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}